<html>
    <head>
        <title>First Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">First Blog</a></h1>
        </div>

        <div>
            <p>published: 21.03.03, 5:58</p>
            <h2><a href="">My first post</a></h2>
            <p> Aenean eu leo quam. Pellentesque ornare sem lacinia quam veneatis vestibulu.</p>
        </div>

        <div>
            <p>published: 21.03.03, 6:00</p>
            <h2><a href="">My second post</a></h2>
            <p>I want go home</p>
        </div>
    </body>
</html>